body {
  font-family: sans-serif;
  margin: 20px;
}

#canvasContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0mm;
  margin-top: 20px;
  width: 210mm; /* A4の横幅に合わせる */
  padding-left: 10mm;
  padding-right: 10mm;
  box-sizing: border-box;
}

.card {
  box-sizing: border-box;
  margin: 0mm;
  border: 1px solid #ccc;
  object-fit: contain;
  display: block;
}
